USE [master]
GO
/****** Object:  Database [Lab]    Script Date: 2020/8/10 下午 03:50:22 ******/
CREATE DATABASE [Lab]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lab', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Lab.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Lab_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Lab_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lab].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lab]
GO
/****** Object:  Table [dbo].[AreasSite]    Script Date: 2020/8/10 下午 03:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AreasSite](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[uid] [nvarchar](50) NULL,
	[siteName] [varchar](max) NULL,
	[enabled] [bit] NULL,
 CONSTRAINT [PK_AreasSite] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RoleBasedAuthorizationMember]    Script Date: 2020/8/10 下午 03:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RoleBasedAuthorizationMember](
	[Mbr_ID] [nvarchar](50) NOT NULL,
	[Mbr_Name] [nvarchar](50) NOT NULL,
	[Mbr_Pwd] [varchar](max) NULL,
	[Mbr_Role] [varchar](10) NULL,
	[Mbr_Enabled] [bit] NULL,
 CONSTRAINT [PK_RoleBasedAuthorizationMember] PRIMARY KEY CLUSTERED 
(
	[Mbr_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SignalR]    Script Date: 2020/8/10 下午 03:50:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SignalR](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[value] [nvarchar](max) NULL,
 CONSTRAINT [PK_SignalR] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AreasSite] ON 

INSERT [dbo].[AreasSite] ([id], [uid], [siteName], [enabled]) VALUES (1, N'admin', N'site1', 1)
INSERT [dbo].[AreasSite] ([id], [uid], [siteName], [enabled]) VALUES (2, N'admin', N'site2', 1)
INSERT [dbo].[AreasSite] ([id], [uid], [siteName], [enabled]) VALUES (3, N'admin', N'site3', 1)
SET IDENTITY_INSERT [dbo].[AreasSite] OFF
INSERT [dbo].[RoleBasedAuthorizationMember] ([Mbr_ID], [Mbr_Name], [Mbr_Pwd], [Mbr_Role], [Mbr_Enabled]) VALUES (N'admin', N'管理員測試1號', N'fa585d89c851dd338a70dcf535aa2a92fee7836dd6aff1226583e88e0996293f16bc009c652826e0fc5c706695a03cddce372f139eff4d13959da6f1f5d3eabe', N'admin', 1)
INSERT [dbo].[RoleBasedAuthorizationMember] ([Mbr_ID], [Mbr_Name], [Mbr_Pwd], [Mbr_Role], [Mbr_Enabled]) VALUES (N'user', N'使用者測試1號', N'fa585d89c851dd338a70dcf535aa2a92fee7836dd6aff1226583e88e0996293f16bc009c652826e0fc5c706695a03cddce372f139eff4d13959da6f1f5d3eabe', N'user', 1)
SET IDENTITY_INSERT [dbo].[SignalR] ON 

INSERT [dbo].[SignalR] ([id], [value]) VALUES (1, N'1')
INSERT [dbo].[SignalR] ([id], [value]) VALUES (2, N'2')
INSERT [dbo].[SignalR] ([id], [value]) VALUES (3, N'3')
SET IDENTITY_INSERT [dbo].[SignalR] OFF
USE [master]
GO
